<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<script>
	$( 'document' ).ready( function() {
		var one = new Bit( {
			canvas: 'canvas',
			x: 300,
			y: 400,
		});
	});
</script>
<canvas id="canvas" height="600" width="800" style="border: 1px solid black;"></canvas>
